<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/style23.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>Post Form</title>


</head>
<body>
<div th:replace="base :: navlinks"></div>
<div th:replace="base :: header"></div>
<br>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col-sm-9">
            <h2>Create a Post</h2>
            </div>
            <form autocomplete="off" class="form-horizontal" action="#" th:action="@{/process}" th:object="${message}" method="post" enctype="multipart/form-data" >
                <label class="control-label col-sm-1" for="name"></label>
                    <div class="col-sm-5">
                    <input type="hidden" th:field="*{id}" />
                    <input type="text" class="form-control" id="name"  placeholder="Title" th:field="*{title}"/>
                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}"></span><br />
                    </div>
            <br>
            <label class="control-label col-sm-1" for="dateby"></label>
                    <div class="col-sm-5">
                <input type="text" class="form-control basicAutoComplete" id="dateby" name="text" placeholder="Author"  th:field="*{postedBy}" />
                <span th:if="${#fields.hasErrors('postedBy')}"
                      th:errors="*{postedBy}"></span><br />
                </div>
            <br>
                <div class="col-sm-9">
                    <label class="control-label col-sm-1" for="content"></label>
                    <textarea  id="content" class="form-control" th:field="*{content}" placeholder="Write your Story"></textarea>
                    <span th:if="${#fields.hasErrors('content')}"
                          th:errors="*{content}"></span><br />
                </div>
            <br>
                <div class="col-sm-10">
                <div class="form-inline">
                    <input type="hidden" th:field="*{id}" />
                    <label class="control-label col-sm-1" for="date">Post Date:</label>
                    <div class="col-auto">
                        <input type="date" class="form-control" id="date" name="postedDate"  th:field="*{postedDate}" />
                        <span th:if="${#fields.hasErrors('postedDate')}"
                              th:errors="*{postedDate}"></span><br />
                    </div>
                </div>
            <br>
                <div class="form-inline">
                    <label class="control-label col-sm-1"> Image:</label>
                    <div class="col-auto">
            <input type="file" class="form-control-file" name="file"/>
                </div>
                </div>
                </div>
            <br />
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="submit"  class="btn btn-outline-dark">Submit</button>
                </div>
            </div>

            </form>
            </div>
    </div>
</div>
            <hr>
<!--<form autocomplete="off" class="form-inline" action="#" th:action="@{/process}" th:object="${message}" method="post" enctype="multipart/form-data" >-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-1"></div>-->
            <!--<div class="col-md-6">-->
                <!--<div id="postlist">-->
                    <!--<div class="panel">-->
                        <!--<div class="panel-heading">-->
                            <!--<h2>Create a Post</h2>-->
                            <!--<div class="text-center">-->
                                <!--<div>-->
                                    <!--<div class="col-md-5">-->
    <!--<div class="ui-widget">-->
        <!--<input type="hidden" th:field="*{id}" />-->
        <!--<label class="control-label col-sm-1" for="date">Post Date:</label>-->
        <!--<div class="col-auto">-->
            <!--<input type="Date" class="form-control basicAutoComplete" id="date" name="postedDate"  th:field="*{postedDate}" />-->
            <!--<span th:if="${#fields.hasErrors('postedDate')}"-->
                  <!--th:errors="*{postedDate}"></span><br />-->
    <!--</div>-->
    <!--</div>-->
    <!--<br>-->
        <!--<label class="control-label col-sm-1" for="dateby">Post by:</label>-->
        <!--<div class="col-auto">-->
            <!--<input type="text" class="form-control basicAutoComplete" id="dateby" name="text"  th:field="*{postedBy}" />-->
            <!--<span th:if="${#fields.hasErrors('postedBy')}"-->
                  <!--th:errors="*{postedBy}"></span><br />-->
    <!--</div>-->
    <!--<br>-->
        <!--<label class="control-label col-sm-1" for="name"></label>-->
        <!--<div class="col-auto">-->
            <!--<input type="hidden" th:field="*{id}" />-->
            <!--<input type="text" class="form-control" id="name"  placeholder="Title" th:field="*{title}"/>-->
            <!--<span th:if="${#fields.hasErrors('title')}"-->
                  <!--th:errors="*{title}"></span><br />-->
    <!--</div>-->
    <!--<br>-->
    <!--<div class="col-sm-9">-->
        <!--<label class="control-label col-sm-1" for="content"></label>-->
            <!--<textarea  id="content" class="form-control" th:field="*{content}" placeholder="Write your Story"></textarea>-->
            <!--<span th:if="${#fields.hasErrors('content')}"-->
                  <!--th:errors="*{content}"></span><br />-->
    <!--</div>-->
    <!--<br>-->
        <!--<label class="control-label col-sm-1">Image:</label>-->
            <!--<input type="file" class="form-control-file" name="file"/>-->
    <!--<br />-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-1 col-sm-10">-->
            <!--<button type="submit"  class="btn btn-outline-dark">Submit</button>-->
        <!--</div>-->
    <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="panel-footer">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--&nbsp;-->
                        <!--<div class="col-md-1"></div>-->
                        <!--<div class="col-md-3">-->
                        <!--</div>-->
                        <!--<div class="col-md-1">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->

<div th:replace="base :: footer"></div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
var foods = [

];
$('#tags').autocomplete({
source: foods
});
});
</script>
</body>
</html>